@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(111, 221, 111) 100%); 
  font-family: 'Comic sans mS';
  color: rgb(226, 88, 88);
}

main {
  margin: 30px auto;
  width: 700px;
  align-items: center;
}

.section1 {
  padding: 0 10px 10px 10px;
  border-radius: 8px;
  border: 2px dashed white;
  display: flex;
  margin-top: -15px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-top: 120px;
}

@keyframes miAnimacion {
  0% {
    transform: scale(1);
    color: blue;
  }
  50% {
    transform: scale(1.2);
    color: green;
  }
  100% {
    transform: scale(1);
    color: red;
  }
}

h1 {
  animation-name: miAnimacion;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

button {
  height: 100px;
  width: 100px;
  font-size: 40px;
  font-weight: bold;
}

button:hover {
  background-image: url("donde.png");
  background-size: 13vh;
  cursor: pointer;
}

.section2 {
  background-image: url("favicon.png");
  border: 1px solid red;
}

.estadisticas {
  border: 2px solid black;
  height: 50px;
  border-radius: 10px;
  padding: 8px 20px;
  box-sizing: border-box;
}

#puntaje {
  color: green;
  font-size: 22px;
  font-weight: bold;
}

#restante {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

#movimientos {
  color: green;
  font-size: 22px;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: -20px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

@media (max-width: 750px) {
  main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 450px;
  }
  .section2 {
    width: 90%;
    border-radius: 8px;
    margin-top: 10px;
  }
}
